*{
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}
#header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 0;
    color: #318CE7;
    justify-content: space-between;
  }
  
  
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: blue;
    border-radius: 5px;
  }